$bg-color: rgba(10,20,30, 0.8)

@mixin keyframe($animation_name)
  @-webkit-keyframes #{$animation_name}
    @content
  @-moz-keyframes #{$animation_name}
    @content
  @-o-keyframes #{$animation_name}
    @content
  @keyframes #{$animation_name}
    @content

@include keyframe(fadein_purple)
  0%
    color: rgba(170,34,255,0.5)
  100%
    color: rgba(170,34,255,1)

@include keyframe(fadein_white)
  0%
    color: rgba(255,255,255,0)
  100%
    color: rgba(255,255,255,1)

@mixin animation ($delay, $duration, $animation)
  -webkit-animation-delay: $delay
  -webkit-animation-duration: $duration
  -webkit-animation-name: $animation
  -webkit-animation-fill-mode: forwards /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay
  -moz-animation-duration: $duration
  -moz-animation-name: $animation
  -moz-animation-fill-mode: forwards /* this prevents the animation from restarting! */

  -o-animation-delay: $delay
  -o-animation-duration: $duration
  -o-animation-name: $animation
  -o-animation-fill-mode: forwards /* this prevents the animation from restarting! */

  animation-delay: $delay
  animation-duration: $duration
  animation-name: $animation
  animation-fill-mode: forwards /* this prevents the animation from restarting! */

body
  select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  color: #ffffff
  font-size: 1.3rem

#nav, header
  margin-top: 7%

header form
  max-width: 70%
#dropdown-menu
  background-color: black

#dropdown-menu li
  background-color: black
  color: #0077cc
  cursor: pointer
td a:hover
  &
    @include animation(0, 1s, fadein_purple)
table
  margin-top: 5%
  color: rgba(255,255,255,1)
  background-color: rgba(255,255,255,0)

.table th, .table td
  border: 0px

.table a
  &
    @include animation(0, 2s, fadein_white)
  color: #fff
  text-decoration: none
  cursor: pointer


